RewriteEngine On

RewriteBase /



# Serve existing files and directories directly

RewriteCond %{REQUEST_FILENAME} -f [OR]

RewriteCond %{REQUEST_FILENAME} -d

RewriteRule ^ - [L]



# If a cached HTML file exists, serve it

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI}.html -f

RewriteRule ^(.*)$ %{REQUEST_URI}.html [L]



# Route all other requests to index.php (which includes ../index.php)

RewriteRule ^(.*)$ index.php [L]